<!DOCTYPE html>
<html lang="en" dir="auto">
    <head>
        <!-- title -->
        <title>ChainREX</title>
        <!-- meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <!-- extra -->
        {% load static %}
        <!-- link -->
        <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/temzes/chainrex/main/application/template/public/favicon.ico">
        <link rel="stylesheet" type="text/css" href="https://raw.githubusercontent.com/temzes/chainrex/main/application/template/public/style.css">
    </head>
</html>
